// Fonts

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&family=Open+Sans:wght@700&display=swap");

// Variables
@import "variables";

html {
    font-size: 16px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

.article-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: $sunshade;
}

.article-author {
    color: $sunshade-lite;
}
.body-links {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    color: $sunshade;
}

.body-links:hover {
    text-decoration: none;
    opacity: 1;
}

.body-color {
    background-color: $onyx;
}

.news-letter-label {
    color: #b27321;
}

.btn {
    border-radius: 0.2rem;
}

$theme-colors: (
    "primary": $sunshade,
    "light": #c6c7c8,
    "primary-opacity": rgba(255, 166, 48, 0.3)
);
// Bootstrap
@import "~bootstrap/scss/bootstrap";
