// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

// Variables
@import "variables";

.body-links {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    color: $sunshade;
}

.body-links:hover {
    text-decoration: none;
    opacity: 1;
}

.card-title {
    font-family: $card-title-font;
}

.nav-color {
    background-color: $onyx;
}

.news-letter-label {
    color: #b27321;
}

.form-control::placeholder {
    font-style: italic;
}

.form-control::-moz-placeholder {
    font-style: italic;
}

.form-control::-webkit-input-placeholder {
    font-style: italic;
}

$theme-colors: (
    "primary": $sunshade
);
// Bootstrap
@import "~bootstrap/scss/bootstrap";
