// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");

// Variables
@import "variables";

.body-links {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    color: #ffa630;
}

.body-links:hover {
    text-decoration: none;
    opacity: 1;
}

.card-title {
    font-family: $card-title-font;
}

.nav-color {
    background-color: $onyx;
}

$theme-colors: (
    "primary": #ffa630
);
// Bootstrap
@import "~bootstrap/scss/bootstrap";
